/_headers text eol=lf
/_routes.json text eol=lf
/dist/_headers text eol=lf
/dist/_routes.json text eol=lf
/app/** text=auto eol=lf
/dist/app/** text=auto eol=lf
/index.html text eol=lf
/dist/index.html text eol=lf
/dist/** text=auto eol=lf
/config/** text=auto eol=lf
